.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;

  position: relative;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

.body {
  display: flex;
  flex-direction: row;
}

.nav {
  padding: 2px 20px;
  min-height: 3vw;
  max-height: 3vw;
  width: 100vw;
  border: solid black 1px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav {
  background-color: blueviolet;
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}